<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="LogFile" value="FSTrace.log"/>
    <add key="SoundKeys" value="true"/>
    <add key="SoundPath" value="Sounds\Trust_GXT_865_ASTA"/>
    <add key="HookKeys" value="true"/>
    <add key="ShowSystray" value="true"/>
    <add key="StartVNC" value="true"/>
    <add key="VNCPassword" value="85ncEz+tRmgTX/mfev090Q=="/>
    <add key="ConnectUHP" value="true"/>
    <add key="UHPServer" value="192.168.0.27"/>
    <add key="UHPPort" value="3690"/>
    <add key="EmailCrypt" value="fn55ccszwgyHL0xhetyMdDFNZJM0eJ+c"/>
    <add key="PasswordCrypt" value="85ncEz+tRmgTX/mfev090Q=="/>
    <add key="EmailServer" value="smtp.gmail.com"/>
    <add key="EmailPort" value="587"/>
    <add key="EmailSSL" value="true"/>
    <add key="SaveLog" value="false"/>
    <add key="SaveLogMin" value="30"/>
    <add key="SendEmail" value="true"/>
    <add key="SendEmailMin" value="720"/>
  </appSettings>

  <system.diagnostics>
    <switches>
      <!--0- desactivado, 1- error, 2- warning, 3- info, 4- verbose -->
      <add name="LogLevel" value="3"/>
    </switches>
  </system.diagnostics>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
</startup>
</configuration>
