@charset "UTF-8";
/* CSS Document */

html, body {
	height:100%;
	margin:0;
}
body {
	position:relative;
	min-width: 1024px;
	background-image:url(img/fondo.jpg);
}
#preload {
	width: 0px;
	height: 0px;
	display: inline;
	background-image: url(img/boton.jpg);
	background-image: url(img/boton3.jpg);
	
	

}
a:visited {
	outline:none;
	border:none;
}
a:link  {
	border:none;
	outline:none;
}

#contenedor {
	position: absolute;
	width:1024px;
	left: 50%;
	margin-left:-512px;
	margin-top:5px;
}

#cabecera {
	position:relative;
	float:left;
	width: 1024px;
	height:115px;
	
}
#logo {
	position:relative;
	float:left;
	width:342px;
	height:115px;
	background-image:url(img/logo.jpg);
	
}
#cabDcha {
	position:relative;
	float:left;
	width:682px;
	height:115px;
	background-image:url(img/cabDcha.jpg);
	
}
#login {
	position:relative;
	float:left;
	width:613px;
	height:68px;
	text-align:right;
	
}
#login b {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	color:#666;
	text-decoration:none;
	font-size:0.6em;
	text-transform:uppercase;
	
}

#login a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	color:#666;
	text-decoration:none;
	font-size:0.7em;	
}
#login a:hover {
	color:#333;
	
	
}
#navegacion {
	position:relative;
	float:left;
	width:613px;
	height:20px;
	
}
#menu {
	position: relative;
	float:left;
	width: 613px;
	height:23px;
	float:right;
}
#botones {
	position: relative;
	float:right;
	margin-left:0px;
	margin-top:0px;
}
.estilo1 {
	position: relative;
	float:left;
	width: 130px;
	height:15px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:0.7em;
	font-weight:bold;
	text-align:center;
	padding-top:8px;
	text-decoration:none;
	background-image:url(img/boton2.jpg);
	color:#999;
	
}	

#menu span a {
	position: relative;
	float:left;
	width: 130px;
	height:15px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:0.7em;
	text-align:center;
	padding-top:8px;
	text-decoration:none;
	background-image:url(img/boton.jpg);
	color:#999;
}

#menu span a:hover {
	background-image:url(img/boton3.jpg);
	color:#FFF;
	
}
#menu span a:visited  {
	border:none;
	outline:none;
}
#flash {
	position:relative;
	float:left;
	width:1024px;
	height:326px;
	background-image:url(img/flash.jpg);
	
}
#banner {
	position:relative;
	float:left;
	
	width:857px;
	height:326px;
	margin-left:70px;
	//margin-left:35px;
	_margin-left:23px;
	
	
}
#contenido {
	position:relative;
	float:left;
	width:1024px;
	height:600px;
	background-image:url(img/contenido.jpg);
	overflow:hidden;
	
}
#colIzqda {
	position:relative;
	float:left;
	width:475px;
	height:600px;
	margin-left:70px;
	_margin-left:35px;
	
}
#colDcha {
	position:relative;
	float:left;
	width:362px;
	height:600px;
	margin-left:20px;
	_margin-left:10px;
	margin-top:68px;
	#margin-top:80px;
	
	
}
h1 {
	font-family:Arial Black,Helvetica sans-serif;
	font-size:2.3em;
	font-weight:bold;
	color:#333;
	margin-top:6px;
	
}
h2 {
	font-family:Arial Black,Helvetica sans-serif;
	font-size:1.3em;
	font-weight:bold;
	color:#666;
	
	
}
#colDcha h2 {
	text-align:right;		
}
#colDcha p {
	text-align:right;
	text-transform:uppercase;
	font-size:0.7em;
	font-weight:bold;
	color:#999;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
	font-weight:normal;
	color:#666;
	text-align:justify;
	
	
} 
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
	font-weight:normal;
	color:#666;
	text-align:justify;
	margin-left:60px;
	_margin-left:30px;
	margin-top:30px;
	
	
} 
strong {
	color:#333;
}
#etiq1 {
	position:relative;
	float:right;
	width:356px;
	height:225px;
	background-image:url(img/etiq1.jpg);
	margin-right:-14px;
	_margin-right:-7px;
	margin-top:-6px;
	margin-bottom:10px;
	
}
#etiq2 {
	position:relative;
	float:right;
	width:356px;
	height:78px;
	background-image:url(img/etiq2.jpg);
	margin-right:-14px;
	_margin-right:-7px;
	margin-top:-6px;
	margin-bottom:10px;
	
}
#etiq3 {
	position:relative;
	float:right;
	width:356px;
	height:78px;
	background-image:url(img/etiq3.jpg);
	margin-right:-14px;
	_margin-right:-7px;
	margin-top:-6px;
	margin-bottom:10px;
	
}
