body {
    background-color: #ffffff;
    color: #000000;
    font-family: verdana, sans-serif;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    text-align: left;
}

#busy {
    background-color: #e95555;
    border: 1px ridge #ccc;
    color: #eee;
    display: none;
    padding: 3px;
    position: absolute;
    right: 7px;
    top: 7px;
}


.container {
    margin: auto;
    width: 750px;
}

.columnLeft {
    background: #ffffff;
    float: left;
    padding: 0px;
    width: 115px;
}

.columnCenter {
    background: #eeeeee;
    float: left;
    padding: 0px;
    width: 520px;
}

.columnCenterAdmin {
    background: #eeeeee;
    float: left;
    padding: 0px;
    width: 634px;
}

.columnRight {
    background: #ffffff;
    float: left;
    padding: 0px;
    width: 115px;
}

.columnHead {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 0px;
    text-align: left;
    width: 750px;
}
	
	
.columnBotton {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 0px;
    text-align: left;
    width: 750px;
}


.tlc {
    background-image: url(../skin/arr_izq.gif);
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.trc {
    background-image: url(../skin/arr_der.gif);
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

.blc {
    background-image: url(../skin/inf_izq.gif);
    background-position: 0% 100%;
    background-repeat: no-repeat;
}

.brc {
    background-image: url(../skin/inf_der.gif);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.tb {
    background-image: url(../skin/arr_fondo.gif);
    background-position: 0% 0%;
    background-repeat: repeat-x;
}

.bb {
    background-image: url(../skin/inf_fondo.gif);
    background-position: 50% 100%;
    background-repeat: repeat-x;
}

.rb {
    background-image: url(../skin/der_fondo.gif);
    background-position: 100% 0%;
    background-repeat: repeat-y;
}

.lb {
    background-image: url(../skin/izq_fondo.gif);
    background-position: 0% 100%;
    background-repeat: repeat-y;
}

.moduloTitulo {
    background-image: url(../skin/fondo_tabla_sup.gif);
    background-repeat: repeat-x;
    color: #ff0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    text-align: left;
}



	  
.modulo {
    border-bottom: 1 solid #336699;
    border-left: 1 solid #336699;
    border-right: 1 solid #336699;
    border-top: 1 solid #336699;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-botton: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left;
}


.pagina {
    background: #ffffff;
    background-color: #ffffff;
    color: #000000;
    font-style: normal;
    list-style-type: square;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    text-align: left;
}
     

.cajascroll { width: 100%; }

a {
    color: #703200;
    font-family: Verdana, sans-serif;
    text-decoration: underline;
}

a:visited {
    color: #8b008b;
    text-decoration: underline;
}

a:active { text-decoration: underline; }

a:hover { text-decoration: underline; }

a.art {
    color: #7b68ee;
    text-decoration: underline;
}

a.art:visited {
    color: #8b008b;
    text-decoration: underline;
}

a.art:active { text-decoration: underline; }

a.art:hover { text-decoration: underline; }

a.navlink {
    color: #fffafa;
    text-decoration: underline;
}

a.navlink:link {
    color: #fffafa;
    text-decoration: underline;
}

a.navlink:hover {
    color: #fffafa;
    text-decoration: underline;
}

a.navlink:visited {
    background-color: #ffffff;
    color: #fffafa;
    text-decoration: underline;
}

a.modlink {
    background-color: #ffffff;
    color: #000000;
    text-decoration: underline;
}

a.modlink:link {
    background-color: #ffffff;
    color: #000000;
    text-decoration: underline;
}

a.modlink:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: underline;
}

a.modlink:visited {
    background-color: #ffffff;
    color: #000000;
    text-decoration: underline;
}

.blancocabepeque {
    background-color: #000000;
    color: white;
    font-weight: bold;
}

.blancotextomaspeque {
    background-color: #000000;
    color: white;
}

.cabepeque {
    background-color: #fdf5e6;
    color: #8b4513;
    font-weight: bold;
}

.textopeque {
    background-color: #ffffff;
    color: #8b4513;
}

.cabemaspeque {
    background-color: #fdf5e6;
    color: #8b4513;
    font-weight: bold;
}

.textomaspeque {
    background-color: #ffffff;
    color: #8b4513;
}

.accionpeque {
    background-color: #ffffff;
    color: #b22222;
    font-weight: bold;
}

.accionmaspeque {
    background-color: #ffffff;
    color: #b22222;
    font-weight: bold;
}

.textboxplano {
    border-bottom-color: #008080;
    border-bottom-style: solid;
    border-left-color: #008080;
    border-left-style: solid;
    border-right-color: #008080;
    border-right-style: solid;
    border-top-color: #008080;
    border-top-style: solid;
}

.botonplan {
    background-color: #483d8b;
    color: #ffffff;
    font-weight: bold;
}

.calFondoCalendario {
    background-color: #ff6600;
    color: #000000;
}

.calEncabe { }

.calFondoEncabe {
    background-color: #ffcc99;
    color: #ffffff;
}

.calDias { font-weight: 900; }

.calSimbolo {
    background-color: #ffffff;
    color: blue;
    font-weight: 200;
    text-decoration: none;
}

.calResaltado {
    font-weight: 700;
    text-decoration: none;
}

.calCeldaResaltado {
    background-color: #ffcc99;
    color: #ffffff;
}

.calDatos { font-weight: 900; }

.colorFondoContenido {
    background-color: white;
    color: #8b4513;
}

.colorFondoPie {
    background-color: #009900;
    color: #ffffff;
}

.barraNavegacion {
    background-color: #00cc00;
    color: #ffffff;
}

.detalleBarraNavegacion {
    background-color: #009900;
    color: white;
}

.barraNavegacion2 {
    background-color: #00ff66;
    color: #ffffff;
}

.error {
    background-color: #ffffff;
    color: #ff0000;
    font-weight: normal;
}

.tab-active { font-weight: bold; }

.tab-disabled { font-weight: normal; }