<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultPortal" value="fsfebrer"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="FSConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Persist Security Info=False;Data Source=k:\FS\FS\FSPortalNet\FSPortalNet\sitios\{portal}\data\portalnet.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
