<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.112)(PORT=1521)) (CONNECT_DATA = (SERVER=DEDICATED) (SID=OFS2)));User Id=gt_intranet;Password=GT_INTRANET;" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultPortal" value="serport"/>
    <add key="NombreWeb" value="Serport"/>
    <add key="DescripcionWeb" value="Serport Gestión, S.Coop."/>
    <add key="PalabrasClave" value="transportes, contenedores"/>
    <add key="DirectorioPortal" value="/fsportalnetlite/"/>
    <add key="RegistrosPorPagina" value="100"/>
    <add key="StrCookieName" value="SERPORT"/>
    <add key="Version" value="2.9Lite"/>
    <add key="PaginaLogin" value="pagina.aspx?id=294"/>
  </appSettings>
  <!--<appSettings>
    <add key="DefaultPortal" value="transeste" />
    <add key="NombreWeb" value="Transeste" />
    <add key="DescripcionWeb" value="Transeste Logistica S.L." />
    <add key="PalabrasClave" value="transportes, contenedores" />
    <add key="DirectorioPortal" value="/fsportalnetlite/" />
    <add key="RegistrosPorPagina" value="100" />
    <add key="StrCookieName" value="TRANSESTE" />
    <add key="Version" value="2.9Lite" />
    <add key="PaginaLogin" value="pagina.aspx?id=294" />
  </appSettings>-->
  <!--<appSettings>
  <add key="DefaultPortal" value="easytruck" />
  <add key="NombreWeb" value="Easytruck" />
  <add key="DescripcionWeb" value="EasyTruck" />
  <add key="PalabrasClave" value="transportes, contenedores" />
  <add key="DirectorioPortal" value="/fsportalnetlite/" />
  <add key="RegistrosPorPagina" value="100" />
  <add key="StrCookieName" value="EASYTRUCK" />
  <add key="Version" value="2.9Lite" />
  <add key="PaginaLogin" value="pagina.aspx?id=294" />
 </appSettings>-->
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="es" culture="es-ES"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <trace enabled="false" localOnly="true" pageOutput="false"/>
    <pages enableSessionState="true"/>
    <compilation debug="true" strict="true" explicit="true" targetFramework="4.7.2"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="errorPages/error.aspx"/>
    <httpModules>
      <!--eliminamos modules que no necesitamos -->
      <remove name="PassportAuthentication"/>
      <remove name="Profile"/>
      <remove name="AnonymousIdentification"/>
    </httpModules>
    <httpRuntime executionTimeout="90" maxRequestLength="8192" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- Esta regla de UrlRewrite (modulo instalado en IIS 7), redirige todo el tráfico de http a https (OJO!! cuando no esta HTTPS habilido, no da ningún error y no muestra la página correctamente.) -->
    <!--<rewrite>
            <rules>
                <rule name="HTTP_HTTP" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>-->
  </system.webServer>
  <system.diagnostics>
    <!--<trace autoflush="true" indentsize="4">
      <listeners>
        <add name="FSListener" type="System.Diagnostics.TextWriterTraceListener" initializeData=".\FSTrace.log" />
        <remove name="Default" />
      </listeners>
    </trace>-->
    <switches>
      <!--0- desactivado, 1- error, 2- warning, 3- info, 4- verbose -->
      <add name="LogLevel" value="3"/>
    </switches>
  </system.diagnostics>
</configuration>