<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChatGPTKey" value="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"/>
    
    <add key="Pop3Server" value="pop.gmail.com"/>
    <add key="Pop3Port" value="995"/>
    <add key="Pop3UserName" value="username"/>
    <add key="Pop3Password" value="password"/>
    <add key="Pop3Ssl" value="True"/>
    <add key="Pop3Recent" value="False"/>

    <add key="ImapServer" value="imap.gmail.com"/>
    <add key="ImapPort" value="993"/>
    <add key="ImapUserName" value="username"/>
    <add key="ImapPassword" value="password"/>
    <add key="ImapSsl" value="True"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
