BODY {
    font-family: Verdana;
    font-size: xx-small;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

/* Menu horizontal */

a.Menu { text-decoration: none; }

.Tab {
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-right: 0px;
    text-align: center;
    width: 65px;
}

.TOff {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    margin-top: 0px;
    padding-top: 2px;
}

a.Menu:Hover {
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
}

a.Menu:Visited { text-decoration: none; }

.modulo {
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #336699 1px solid;
    BORDER-LEFT: #336699 1px solid;
    BORDER-RIGHT: #336699 1px solid;
    BORDER-TOP: #336699 1px solid;
    FONT-SIZE: 11px;
    FONT-STYLE: normal;
    LIST-STYLE-TYPE: square;
    TEXT-ALIGN: left;
}

.moduloTitulo {
    COLOR: white;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-INDENT: 5px;
}

.moduloTD {
    COLOR: #336699;
    PADDING-BOTTOM: 6px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 6px
}

.cajascroll {
    height: 90;
    overflow-y: auto;
    width: 100%;
}

A {
    color: #703200;
    font-family: Verdana;
    font-size: xx-small;
    text-decoration: underline;
}

A:Visited {
    color: #8b008b;
    font-family: Verdana;
    font-size: xx-small;
    text-decoration: underline;
}

A:Active {
    font-family: Verdana;
    font-size: xx-small;
    text-decoration: underline;
}

A:Hover {
    font-family: Verdana;
    font-size: xx-small;
    text-decoration: underline;
}

A.art {
    color: #7b68ee;
    font-family: Verdana;
    font-size: xx-small;
    text-decoration: underline;
}

A.art:Visited {
    color: #8b008b;
    font-family: Verdana;
    font-size: xx-small;
    text-decoration: underline;
}

A.art:Active {
    font-family: Verdana;
    font-size: xx-small;
    text-decoration: underline;
}

A.art:Hover {
    font-family: Verdana;
    font-size: xx-small;
    text-decoration: underline;
}

A.navlink {
    color: #fffafa;
    font-family: Verdana;
    font-size: xx-small;
    letter-spacing: 1px;
    text-decoration: underline;
}

A.navlink:link {
    color: #fffafa;
    font-family: Verdana;
    font-size: xx-small;
    letter-spacing: 1px;
    text-decoration: underline;
}

A.navlink:hover {
    color: #fffafa;
    font-family: Verdana;
    font-size: xx-small;
    letter-spacing: 1px;
    text-decoration: underline;
}

A.navlink:visited {
    color: #fffafa;
    font-family: Verdana;
    font-size: xx-small;
    letter-spacing: 1px;
    text-decoration: underline;
}

.whitesmallheader {
    color: White;
    font-family: Verdana;
    font-size: x-small;
    font-weight: bold;
}

.whitesmallertext {
    color: White;
    font-family: Verdana;
    font-size: xx-small;
}

.smallheader {
    BACKGROUND-COLOR: #fdf5e6;
    color: #8b4513;
    font-family: Verdana;
    font-size: x-small;
    font-weight: bold;
}

.smalltext {
    color: #8b4513;
    font-family: Verdana;
    font-size: x-small;
}

.smallerheader {
    BACKGROUND-COLOR: #fdf5e6;
    color: #8b4513;
    font-family: Verdana;
    font-size: xx-small;
    font-weight: bold;
}

.smallertext {
    color: #8b4513;
    font-family: Verdana;
    font-size: xx-small;
}

.smallaction {
    color: #b22222;
    font-family: Verdana;
    font-size: x-small;
    font-weight: bold;
}

.smalleraction {
    color: #b22222;
    font-family: Verdana;
    font-size: xx-small;
    font-weight: bold;
}

.tbflat {
    border-color: #008080;
    border-style: solid;
    font-family: Verdana;
    font-size: xx-small;
}

.cmdflat {
    background-color: #483d8b;
    color: #ffffff;
    font-family: Verdana;
    font-size: xx-small;
    font-weight: bold;
}

TD {
    color: #8b4513;
    font-family: Verdana;
    font-size: xx-small;
}

.artbody {
    font-family: Verdana;
    font-size: xx-small;
    margin-left: 10;
    margin-right: 10;
}

.artabstract {
    font-family: Verdana;
    font-size: xx-small;
    font-style: italic;
    margin-left: 10;
    margin-right: 10;
}

.arttitle {
    color: #b22222;
    font-family: Verdana;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.artwriter {
    font-family: Verdana;
    font-size: xx-small;
    font-style: italic;
    margin-right: 10;
    text-align: right;
}

.artcode {
    color: #555555;
    font-family: monospace;
    font-size: xx-small;
    margin-left: 20;
}

.news-title {
    background-color: #00CC00;
    color: White;
    font-size: small;
    font-weight: bold;
}

.news-subtitle {
    background-color: #00CC00;
    color: White;
    font-family: Verdana;
    font-size: xx-small;
    font-weight: bold;
}

/* Estilos Calendario */

.calFondoCalendario { background-color: #FF6600 }

.calEncabe {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

.calFondoEncabe { background-color: #FFCC99 }

.calDias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: 900
}

.calSimbolo {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: 200;
    text-decoration: none;
}

.calResaltado {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: 700;
    text-decoration: none;
}

.calCeldaResaltado { background-color: #FFCC99 }

.calDatos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: 900
}

/* estilos web */

.colorFondoContenido {
    background-color: White;
    color: #8b4513;
    font-family: Verdana;
    font-size: xx-small;
}

.colorFondoPie { background-color: #009900; }

.barraNavegacion { background-color: #00CC00; }

.detalleBarraNavegacion {
    background-color: #009900;
    color: White;
    font-family: Verdana;
    font-size: xx-small;
}

.barraNavegacion2 { background-color: #00FF66; }

.error {
    color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: normal;
}