@charset "UTF-8";

/* CSS Document */

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../img/fondo.jpg);
    min-width: 1024px;
    position: relative;
}

#preload {
    background-image: url(../img/boton.jpg);
    background-image: url(../img/boton3.jpg);
    display: inline;
    height: 0px;
    width: 0px;
}

a:visited {
    border: none;
    outline: none;
}

a:link {
    border: none;
    outline: none;
}

#contenedor {
    left: 50%;
    margin-left: -512px;
    margin-top: 5px;
    position: absolute;
    width: 1024px;
}

#cabecera {
    float: left;
    height: 115px;
    position: relative;
    width: 1024px;	
}

#logo {
    background-image: url(../img/logo.jpg);
    float: left;
    height: 115px;
    position: relative;
    width: 342px;	
}

#cabDcha {
    background-image: url(../img/cabDcha.jpg);
    float: left;
    height: 115px;
    position: relative;
    width: 682px;	
}

#login {
    float: left;
    height: 68px;
    position: relative;
    text-align: right;
    width: 613px;	
}

#login b {
    color: #666;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.6em;
    text-decoration: none;
    text-transform: uppercase;	
}

#login a {
    color: #666;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.7em;
    text-decoration: none;
}

#login a:hover { color: #333; }

#navegacion {
    float: left;
    height: 20px;
    position: relative;
    width: 613px;	
}

#menu {
    float: left;
    float: right;
    height: 23px;
    position: relative;
    width: 613px;
}

#botones {
    float: right;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
}

.estilo1 {
    background-image: url(../img/boton2.jpg);
    color: #999;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    height: 15px;
    padding-top: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 130px;	
}

#menu span a {
    background-image: url(../img/boton.jpg);
    color: #999;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    height: 15px;
    padding-top: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 130px;
}

#menu span a:hover {
    background-image: url(../img/boton3.jpg);
    color: #FFF;	
}

#menu span a:visited {
    border: none;
    outline: none;
}

#flash {
    background-image: url(../img/flash.jpg);
    float: left;
    height: 326px;
    position: relative;
    width: 1024px;	
}

#banner {
    float: left;
    height: 326px;
	
    margin-left: 70px;
    margin-left: 35px;
    position: relative;
    /
    /
    width: 857px;
    _margin-left: 23px;	
}

#contenido {
    background-image: url(../img/contenido.jpg);
    float: left;
    height: 600px;
    overflow: hidden;
    position: relative;
    width: 1024px;	
}

#colIzqda {
    float: left;
    height: 600px;
    margin-left: 70px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 837px;
    _margin-left: 35px;	
}

#colDcha {
    float: left;
    height: 600px;
    margin-left: 20px;
    margin-top: 68px;
    #margin-top: 80px;
    position: relative;
    width: 362px;
    _margin-left: 10px;	
}

h1 {
    color: #333;
    font-family: Arial Black, Helvetica sans-serif;
    font-size: 2.3em;
    font-weight: bold;
    margin-top: 6px;	
}

h2 {
    color: #666;
    font-family: Arial Black, Helvetica sans-serif;
    font-size: 1.3em;
    font-weight: bold;	
}

#colDcha h2 { text-align: right; }

#colDcha p {
    color: #999;
    font-size: 0.7em;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

p {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    text-align: justify;	
}

li {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 60px;
    margin-top: 30px;
    text-align: justify;
    _margin-left: 30px;	
}

strong { color: #333; }

#etiq1 {
    background-image: url(../img/etiq1.jpg);
    float: right;
    height: 225px;
    margin-bottom: 10px;
    margin-right: -14px;
    margin-top: -6px;
    position: relative;
    width: 356px;
    _margin-right: -7px;	
}

#etiq2 {
    background-image: url(../img/etiq2.jpg);
    float: right;
    height: 78px;
    margin-bottom: 10px;
    margin-right: -14px;
    margin-top: -6px;
    position: relative;
    width: 356px;
    _margin-right: -7px;	
}

#etiq3 {
    background-image: url(../img/etiq3.jpg);
    float: right;
    height: 78px;
    margin-bottom: 10px;
    margin-right: -14px;
    margin-top: -6px;
    position: relative;
    width: 356px;
    _margin-right: -7px;	
}