#busy {
    background-color: #333;
    border: 1px ridge #ccc;
    color: #eee;
    display: none;
    font-family: Arial;
    font-size: 10px;
    padding: 3px;
    position: absolute;
    right: 7px;
    top: 7px;
}

#busy2 {
    background: transparent url('imagenes/ajax-loader1.gif') no-repeat center;
    height: 32px;
    left: center;
    position: absolute;
    top: center;
    width: 32px;
}