h1, h2, h3, h4, h5 {
    color: #002f56;
    font-size: 2em;
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 10px 0;
    text-align: justify;
}

hr {
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}

/*****************************************************************************************************************************************************************************/

/*																																  																																		*/

/*																										menu superior	 																																		*/

/*																																																																		*/

/*****************************************************************************************************************************************************************************/

ul#menu {
    left: 108px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    top: 43px;
}

ul#menu li {
    display: block;
    float: left;
    list-style-type: none;
}

ul#menu li a {
    color: #000;
    font-size: 0.9em;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

ul#menu li a#pagMenu_1 {
    background-image: url(../images/quienes_somos.jpg);
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    width: 128px;
}

ul#menu li a#pagMenu_1:hover {
    background-image: url(../images/quienes_somos_over.jpg);
    color: #fff !important;
}

a.pagMenu_1Activa {
    background-image: url(../images/quienes_somos_over.jpg) !important;
    color: #fff !important;
}

ul#menu li a#pagMenu_2 {
    background-image: url(../images/calidad.jpg);
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    width: 131px;
}

ul#menu li a#pagMenu_2:hover {
    background-image: url(../images/calidad_over.jpg);
    color: #fff !important;
}

a.pagMenu_2Activa {
    background-image: url(../images/calidad_over.jpg) !important;
    color: #fff !important;
}

ul#menu li a#pagMenu_3 {
    background-image: url(../images/flota.jpg);
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    width: 129px;
}

ul#menu li a#pagMenu_3:hover {
    background-image: url(../images/flota_over.jpg);
    color: #fff !important;
}

a.pagMenu_3Activa {
    background-image: url(../images/flota_over.jpg) !important;
    color: #fff !important;
}

ul#menu li a#pagMenu_4 {
    background-image: url(../images/servicios.jpg);
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    width: 129px;
}

ul#menu li a#pagMenu_4:hover {
    background-image: url(../images/servicios_over.jpg);
    color: #fff !important;
}

a.pagMenu_4Activa {
    background-image: url(../images/servicios_over.jpg) !important;
    color: #fff !important;
}

ul#menu li a#pagMenu_5 {
    background-image: url(../images/intranet.jpg);
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    width: 129px;
}

ul#menu li a#pagMenu_5:hover {
    background-image: url(../images/intranet_over.jpg);
    color: #fff !important;
}

a.pagMenu_5Activa {
    background-image: url(../images/intranet_over.jpg) !important;
    color: #fff !important;
}

/*****************************************************************************************************************************************************************************/

/*																																  																																		*/

/*																										menu lateral		  																																		*/

/*																																																																		*/

/*****************************************************************************************************************************************************************************/

div#submenu ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div#submenu ul li {
    background-image: url(../images/submenu.jpg);
    line-height: 37px;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 189px;
}

div#submenu ul li.activo { background-image: url(../images/submenu_over.jpg); }

div#submenu ul li a {
    color: #000;
    display: block;
    padding: 0 0 0 20px;
    text-decoration: none;
    ;
}

div#submenu ul li a:hover { text-decoration: underline; }

div#submenu p { margin: 10px 10px 0 0; }

div#submenu p a {
    color: #2d558e;
    text-decoration: none;
}

div#submenu p a:hover {
    color: #464646;
    text-decoration: underline;
}

div#submenu .direccion {
    margin: 0 10px 0 0;
    text-align: right;
}



/*****************************************************************************************************************************************************************************/

/*																																  																																		*/

/*																										menu footer		  																																		*/

/*																																																																		*/

/*****************************************************************************************************************************************************************************/

ul#pie {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    right: 110px;
    top: 25px;
}

ul#pie li {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0 0 0 30px;
}

ul#pie li a {
    color: #233c51;
    font-size: 0.6em;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

ul#pie li a:hover {
    color: #233c51;
    text-decoration: underline;
}

/*****************************************************************************************************************************************************************************/

/*																																  																																		*/

/*																										datos	 																																		*/

/*																																																																		*/

/*****************************************************************************************************************************************************************************/

div#datos a { color: #182a3b; }

div#datos a:hover {
    background-color: #182a3b;
    color: #ffffff;
    text-decoration: underline;
}

#datos ul {
    margin: 10px 0px 10px 0;
    padding: 0px 0px 0 0px;
}

#datos li {
    background-image: url(../images/iconolista.gif);
    background-position: 0 8px;
    background-repeat: no-repeat;
    list-style-type: none;
    margin: 0px 0px 0px 10px;
    padding: 2px 0px 0 10px;
    text-decoration: none;
}

#datos dl {
    margin: 5px 0px 5px 10px;
    padding: 0px 0px 0 0px;
}

#datos dt {
    background-image: url(../images/iconolista2.gif);
    background-position: 0 8px;
    background-repeat: no-repeat;
    color: #5871A1;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 0 10px;
}

#datos dd {
    background-image: url(../images/iconolista.gif);
    background-position: 0 8px;
    background-repeat: no-repeat;
    list-style-type: none;
    margin: 0px 0px 0px 10px;
    padding: 2px 0px 0 10px;
    text-decoration: none;
}

/*****************************************************************************************************************************************************************************/

/*																																  																																		*/

/*																										datos	 																																		*/

/*																																																																		*/

/*****************************************************************************************************************************************************************************/

#datos form {
    margin: 0px 0px 0 0px;
    padding: 0px 0 0 0px;
    width: 100%;
}

#datos form .campos {
    clear: both;
    display: block;
    margin: 0px 0 5px 0;
    padding: 0 0 0px 0;
}

#datos label {
    display: block;
    float: left;
    margin: 0px 5px 0 0px;
    padding: 0px 0 0 0px;
    text-align: right;
    width: 60px;
}

#datos form input {
    background-color: #B7C4D0;
    border: 1px solid #8795A2;
    color: #404040;
    margin: 0px 0px 0px 0px;
    width: 160px;
}

#datos form input.de30 {
    background-color: #B7C4D0;
    border: 1px solid #8795A2;
    color: #404040;
    margin: 0px 0px 0px 0px;
    width: 30px;
}

#datos form textarea {
    background-color: #B7C4D0;
    border: 1px solid #8795A2;
    color: #404040;
    margin: 0px 0px 10px 0;
    text-align: left;
    width: 385px;
}

#datos form select {
    background-color: #B7C4D0;
    border: 1px solid #8795A2;
    color: #404040 !important;
    margin: 0px 0px 0px 0;
    text-align: left;
}

#datos form select option { color: #404040 !important; }

#botones {
    height: 26px;
    margin: 10px 10px 0 0;
    padding: 0 0 0 0;
}

#botones button {
    background-color: #8795A2;
    border: 1px solid #687077;
    color: #fff;
    cursor: pointer;
    float: right;
    margin: 0 0px 0 20px;
    padding: 0px 5px;
}

input.checki {
    background: none !important;
    border: none !important;
    margin: 0 0px 0 0px;
    padding: 0 0 0 0;
    ;
    width: 12px !important;
    ;
}