<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="plugins" type="FSPlugin.PluginSectionHandler"/>
    <section name="urlrewrites" type="FSPortal.UrlRewriter"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <!-- 
    
    ConnString para SQLServer oledb: "Provider=SQLOLEDB;Data Source=.\sqlexpress2008;Initial Catalog=portalnet;User Id=sa;Password=r2;"
    para SQLServer Native: "Driver={SQL Native Client};Server=febrer1\sqlexpress;Database=portalnet;Uid=sa;Pwd=r2;"
    para SQLServer sqlclient: "Data Source=acer1\sqlexpress2008;Initial Catalog=portalnet;User Id=sa;Password=r2;"
    para access oledb: "Provider=Microsoft.Jet.OLEDB.4.0;Persist Security Info=False;Data Source=k:\wwwroot\data\bizkaidenda\portalnet.mdb"
    para access odbc: "Driver={Microsoft Access Driver (*.mdb)};DBQ=k:\wwwroot\data\bizkaidenda\portalnet.mdb;"
    para MySql MySqlClient: "server=localhost;user id=root; password=kk; database=portalnet; pooling=false"
    para MySql ODBC: "DRIVER={MySQL ODBC 5.1 Driver};SERVER=localhost;DATABASE=portalnet;USER=root;PASSWORD=rerbef2000;OPTION=3"
    para MySql OleDb: "Provider=MySQLProv;Location=localhost;Data Source=portalnet;User Id=root;Password=rerbef2000;"
    para Oracle OleDB: "Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION=(CID=GTU_APP)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=myHost)(PORT=myPort)))(CONNECT_DATA=(SID=MyOracleSID)(SERVER=DEDICATED)));User Id=myUsername;Password=myPassword;"
    
    Para SQLExpress en App_Data = "Data Source=.\SQLEXPRESS;AttachDbFilename=k:\wwwroot\data\bizkaidenda\portalnet.mdf;Integrated Security=True;User Instance=True"
    
    En Sync, el directorio de datos es: c:\domains\nombredominio.com\db
    
    -Provider=Microsoft.Jet.OLEDB.4.0;Persist Security Info=False;Data Source=d:\datos\fsportalnet\fsportalnet\sitios\{portal}\data\portalnet.mdb
    -Data Source=febrer1\sqlexpress;Initial Catalog=GesTraveldat;User Id=sa;Password=kk;
    -Data Source=.\SQLEXPRESS;AttachDbFilename=K:\datos\FSPortalNET\FSPortalNET\App_Data\portalnet.mdf;Integrated Security=True;User Instance=True
    Warner: Data Source=localhost;Initial Catalog=GesTraveldat;User Id=sa;Password=2x5y1z0a;
    Bysportfutbol7: Data Source=217.76.131.16;Initial Catalog=qao529;User Id=qao529;Password=suances;
     -->
    <!--
    ProviderName para Access: System.Data.OleDb
    para SQL Server: System.Data.SqlClient
    para MySQL: MySql.Data.MySqlClient
  para ODBC: System.Data.Odbc
    -->
    <!--<add name="FSConnection" connectionString="Server=192.168.0.129;Port=3306;Database=PORTALNET;Uid=portalnet;Pwd=portalnet2017;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="FSConnection" connectionString="Data Source={root}\sitios\{portal}\data\portalnet.db3;datetimeformat=CurrentCulture" providerName="System.Data.SQLite" />-->
    <!--<add name="FSConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.5.212)(PORT=1521)) (CONNECT_DATA = (SERVER=DEDICATED) (SID=OFS1)));User Id=portalnet;Password=portalnet2017;" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.112)(PORT=1522)) (CONNECT_DATA = (SERVER=DEDICATED) (SID=OFS2)));User Id=gt_intranet;Password=GT_INTRANET;" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="OracleConnection" connectionString="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.112)(PORT=1522)) (CONNECT_DATA = (SERVER=DEDICATED) (SID=OFS2)));User Id=gt_intranet;Password=GT_INTRANET;" providerName="System.Data.OleDb" />-->
    <!-- CONEXIONES A DATOS -->
    <!--<add name="FSForum" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Persist Security Info=False;Data Source={root}\sitios\{portal}\data\forum.mdb"
      providerName="System.Data.OleDb"/>-->
    <add name="FSConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Persist Security Info=False;Data Source={root}\sitios\{portal}\data\portalnet.mdb" providerName="System.Data.OleDb"/>
    <!--<add name="OracleConnection"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.112)(PORT=1521)) (CONNECT_DATA = (SERVER=DEDICATED) (SID=OFS2)));User Id=gt_intranet;Password=GT_INTRANET;"
      providerName="Oracle.ManagedDataAccess.Client"/>-->
    <!-- FIN CONEXIONES -->
  </connectionStrings>
  <appSettings>
    <add key="DefaultPortal" value="fsfebrer"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="UseXML" value="False"/>
    <add key="XMLDatabase" value=""/>
    <add key="LogFile" value=".\FSTrace.log"/>
    <add key="UrlRewrite" value="True"/>
    <add key="Copyright" value=""/>
    <add key="DebugFromEmail" value="info@febrersoftware.com"/>
    <add key="DebugToEmail" value="juancarlos@febrersoftware.com"/>
    <add key="DebugServer" value="mail.febrersoftware.com"/>
    <add key="DebugUser" value="juancarlos@febrersoftware.com"/>
    <add key="DebugPassword" value="haWBJehlEnTU2LpscWQhHw=="/>
    <add key="PrefijoTablas" value=""/>
    <add key="EnableHttpCompression" value="true"/>
    <add key="NombreWeb" value="FebrerSoftware"/>
    <add key="DescripcionWeb" value="FebrerSoftware - Tu proveedor de aplicaciones en Internet."/>
    <add key="PalabrasClave" value="tiendas, comercio, febrersoftware, pasarela de pago, bizkaia, comunidad, compras"/>
    <add key="DirectorioPortal" value="/fsportalnet/"/>
    <add key="Moneda" value="€"/>
    <add key="Iva" value="21"/>
    <add key="Encuesta" value="5"/>
    <add key="RegistrosPorPagina" value="100"/>
    <add key="DireccionFisica" value="Bº Marusas Nº 10 1ºA"/>
    <add key="CodigoPostal" value="48610"/>
    <add key="Provincia" value="Vizcaya"/>
    <add key="CorreoInfo" value="info@febrersoftware.com"/>
    <add key="ServidorCorreo" value="10.0.0.161"/>
    <add key="CorreoUsuario" value="info@febrersoftware.com"/>
    <add key="CorreoPassword" value="haWBJehlEnTU2LpscWQhHw=="/>
    <add key="CorreoPuerto" value="587"/>
    <add key="CorreoActivarSSL" value="True"/>
    <add key="MultiCestas" value="False"/>
    <add key="UploadPath" value="/fsportalnet/sitios/fsfebrer"/>
    <add key="ExplorerPath" value="/fsportalnet/sitios/fsfebrer"/>
    <add key="StrCookieName" value="FSFEBRER"/>
    <add key="Estado" value="0"/>
    <add key="HtmlEditor" value="1"/>
    <add key="ModoPrueba" value="False"/>
    <add key="CorreoPrueba" value="juancarlos@febrersoftware.com"/>
    <add key="CorreoCopia" value=""/>
    <add key="Idioma" value="castellano"/>
    <add key="PayPalURL" value=""/>
    <add key="PayPalEmail" value=""/>
    <add key="CuentaPago" value=""/>
    <add key="PayPalNotifyURL" value=""/>
    <add key="CodigoTienda4B" value=""/>
    <add key="Url4B" value=""/>
    <add key="BbvaURL" value=""/>
    <add key="BbvaComercio" value=""/>
    <add key="BbvaTerminal" value=""/>
    <add key="BbvaPalClave" value=""/>
    <add key="BbvaClaveXOR" value=""/>
    <add key="LaCaixaNroComercio" value=""/>
    <add key="LaCaixaClaveEnc" value=""/>
    <add key="LaCaixaTerminal" value="0"/>
    <add key="LaCaixaURLTpvVirtual" value=""/>
    <add key="TiposImagenes" value=".jpg;.gif;.bmp;.png"/>
    <add key="MaxTamImagen" value="50"/>
    <add key="TallasYColores" value="False"/>
    <add key="Disponibilidad" value="True"/>
    <add key="AltoPopUp" value="0"/>
    <add key="AnchoPopUp" value="0"/>
    <add key="Version" value="2.9"/>
    <add key="CorreoBienvenida" value="252"/>
    <add key="PaginaRegistro" value="paginas/registrate.aspx"/>
    <add key="PaginaLogin" value="paginas/conectar.aspx"/>
    <add key="PaginaPerfil" value="paginas/perfil.aspx"/>
    <add key="PaginaRecordar" value="paginas/recordar.aspx"/>
    <add key="Estadisticas" value="False"/>
    <add key="JqueryTema" value="base"/>
    <add key="PlantillaCorreo" value="CORREO"/>
    <add key="PlantillaModulos" value="MODULO"/>
    <add key="FS.Portal" value="http://localhost/FSPortalNET/xml/portal.asmx"/>
    <add key="Google.ReCaptcha.Secret" value="6LffnwETAAAAANatWthZ9TmYB8RBtG0cXZjQTzyP"/>
    <add key="Google.Maps.KEY" value="AIzaSyBv6ixS_tpSfxCRlIAiU7IhQ8UtS8RbyA0"/>
    <add key="MostrarPaginasNoRegistradas" value="false"/>
  </appSettings>
  <!--<appSettings>
    <add key="DefaultPortal" value="serport"/>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="UseXML" value="True"/>
    <add key="XMLDatabase" value="/fsportalnet/sitios/serport/data"/>
    <add key="LogFile" value=".\FSTrace.log"/>
    <add key="UrlRewrite" value="True"/>
    <add key="Copyright" value=""/>
    <add key="DebugFromEmail" value="info@febrersoftware.com"/>
    <add key="DebugToEmail" value="juancarlos@febrersoftware.com"/>
    <add key="DebugServer" value="mail.febrersoftware.com"/>
    <add key="DebugUser" value="juancarlos@febrersoftware.com"/>
    <add key="DebugPassword" value="haWBJehlEnTU2LpscWQhHw=="/>
    <add key="PrefijoTablas" value=""/>
    <add key="EnableHttpCompression" value="True"/>
    <add key="NombreWeb" value="Serport"/>
    <add key="DescripcionWeb" value="Serport Gestión, S.Coop."/>
    <add key="PalabrasClave" value="transportes, contenedores"/>
    <add key="DirectorioPortal" value="/fsportalnet/"/>
    <add key="Moneda" value="€"/>
    <add key="Iva" value="21"/>
    <add key="Encuesta" value="5"/>
    <add key="RegistrosPorPagina" value="100"/>
    <add key="DireccionFisica" value="Zona ZAL, muelle AZ3, Edif. Cargor, piso 2º"/>
    <add key="CodigoPostal" value="48508"/>
    <add key="Provincia" value="Vizcaya"/>
    <add key="CorreoInfo" value="informatica@bizkaiport.com"/>
    <add key="ServidorCorreo" value="smtp.gmail.com"/>
    <add key="CorreoUsuario" value="gestion@bizkaiport.com"/>
    <add key="CorreoPassword" value="b86RrDNR1"/>
    <add key="CorreoPuerto" value="587"/>
    <add key="CorreoActivarSSL" value="True"/>
    <add key="MultiCestas" value="False"/>
    <add key="UploadPath" value="/fsportalnet/sitios/serport/uploads"/>
    <add key="ExplorerPath" value="/fsportalnet/sitios/serport"/>
    <add key="StrCookieName" value="SERPORT"/>
    <add key="Estado" value="0"/>
    <add key="HtmlEditor" value="1"/>
    <add key="ModoPrueba" value="False"/>
    <add key="CorreoPrueba" value="juancarlos@febrersoftware.com"/>
    <add key="CorreoCopia" value=""/>
    <add key="Idioma" value="castellano"/>
    <add key="PayPalURL" value=""/>
    <add key="PayPalEmail" value=""/>
    <add key="CuentaPago" value=""/>
    <add key="PayPalNotifyURL" value=""/>
    <add key="CodigoTienda4B" value=""/>
    <add key="Url4B" value=""/>
    <add key="BbvaURL" value=""/>
    <add key="BbvaComercio" value=""/>
    <add key="BbvaTerminal" value=""/>
    <add key="BbvaPalClave" value=""/>
    <add key="BbvaClaveXOR" value=""/>
    <add key="LaCaixaNroComercio" value=""/>
    <add key="LaCaixaClaveEnc" value=""/>
    <add key="LaCaixaTerminal" value=""/>
    <add key="LaCaixaURLTpvVirtual" value=""/>
    <add key="TiposImagenes" value=".jpg;.gif;.bmp;.png"/>
    <add key="MaxTamImagen" value="50"/>
    <add key="TallasYColores" value="False"/>
    <add key="Disponibilidad" value="True"/>
    <add key="AltoPopUp" value="0"/>
    <add key="AnchoPopUp" value="0"/>
    <add key="Version" value="2.9"/>
    <add key="CorreoBienvenida" value="252"/>
    <add key="PaginaRegistro" value="pagina.aspx?id=295"/>
    <add key="PaginaLogin" value="pagina.aspx?id=294"/>
    <add key="PaginaPerfil" value="pagina.aspx?id=296"/>
    <add key="PaginaRecordar" value="pagina.aspx?id=297"/>
    <add key="Estadisticas" value="False"/>
    <add key="JqueryTema" value="base"/>
    <add key="PlantillaCorreo" value="CORREO"/>
    <add key="PlantillaModulos" value="MODULO"/>
    <add key="FS.Portal" value="http://localhost/FSPortalNET/xml/portal.asmx"/>
    <add key="Google.ReCaptcha.Secret" value="6LffnwETAAAAANatWthZ9TmYB8RBtG0cXZjQTzyP"/>
    <add key="MostrarPaginasNoRegistradas" value="false"/>
  </appSettings>-->
  <!--<appSettings>
    <add key="DefaultPortal" value="transeste" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="UseXML" value="True"/>
    <add key="XMLDatabase" value="/fsportalnet/sitios/transeste/data"/>
    <add key="LogFile" value=".\FSTrace.log" />
    <add key="UrlRewrite" value="True" />
    <add key="Copyright" value="" />
    <add key="DebugFromEmail" value="info@febrersoftware.com" />
    <add key="DebugToEmail" value="juancarlos@febrersoftware.com" />
    <add key="DebugServer" value="mail.febrersoftware.com" />
    <add key="DebugUser" value="juancarlos@febrersoftware.com" />
    <add key="DebugPassword" value="haWBJehlEnTU2LpscWQhHw==" />
    <add key="PrefijoTablas" value="" />
    <add key="EnableHttpCompression" value="True" />
    <add key="NombreWeb" value="Transeste" />
    <add key="DescripcionWeb" value="Transeste Logistica S.L." />
    <add key="PalabrasClave" value="transportes, contenedores" />
    <add key="DirectorioPortal" value="/fsportalnet/" />
    <add key="Moneda" value="€" />
    <add key="Iva" value="21" />
    <add key="Encuesta" value="5" />
    <add key="RegistrosPorPagina" value="100" />
    <add key="DireccionFisica" value="C/ Francisco Cubells, 52-3-7." />
    <add key="CodigoPostal" value="46011" />
    <add key="Provincia" value="Valencia" />
    <add key="CorreoInfo" value="informatica@bizkaiport.com" />
    <add key="ServidorCorreo" value="smtp.gmail.com" />
    <add key="CorreoUsuario" value="gestion@bizkaiport.com" />
    <add key="CorreoPassword" value="b86RrDNR1" />
    <add key="CorreoPuerto" value="587" />
    <add key="CorreoActivarSSL" value="True" />
    <add key="MultiCestas" value="False" />
    <add key="UploadPath" value="/fsportalnet/sitios/serport/uploads" />
    <add key="ExplorerPath" value="/fsportalnet/sitios/transeste" />
    <add key="StrCookieName" value="TRANSESTE" />
    <add key="Estado" value="0" />
    <add key="HtmlEditor" value="1" />
    <add key="ModoPrueba" value="False" />
    <add key="CorreoPrueba" value="juancarlos@febrersoftware.com" />
    <add key="CorreoCopia" value="" />
    <add key="Idioma" value="castellano" />
    <add key="PayPalURL" value="" />
    <add key="PayPalEmail" value="" />
    <add key="CuentaPago" value="" />
    <add key="PayPalNotifyURL" value="" />
    <add key="CodigoTienda4B" value="" />
    <add key="Url4B" value="" />
    <add key="BbvaURL" value="" />
    <add key="BbvaComercio" value="" />
    <add key="BbvaTerminal" value="" />
    <add key="BbvaPalClave" value="" />
    <add key="BbvaClaveXOR" value="" />
    <add key="LaCaixaNroComercio" value="" />
    <add key="LaCaixaClaveEnc" value="" />
    <add key="LaCaixaTerminal" value="" />
    <add key="LaCaixaURLTpvVirtual" value="" />
    <add key="TiposImagenes" value=".jpg;.gif;.bmp;.png" />
    <add key="MaxTamImagen" value="50" />
    <add key="TallasYColores" value="False" />
    <add key="Disponibilidad" value="True" />
    <add key="AltoPopUp" value="0" />
    <add key="AnchoPopUp" value="0" />
    <add key="Version" value="2.9" />
    <add key="CorreoBienvenida" value="252" />
    <add key="PaginaRegistro" value="pagina.aspx?id=295" />
    <add key="PaginaLogin" value="pagina.aspx?id=294" />
    <add key="PaginaPerfil" value="pagina.aspx?id=296" />
    <add key="PaginaRecordar" value="pagina.aspx?id=297" />
    <add key="Estadisticas" value="False" />
    <add key="JqueryTema" value="base" />
    <add key="PlantillaCorreo" value="CORREO" />
    <add key="PlantillaModulos" value="MODULO" />
    <add key="FS.Portal" value="http://localhost/FSPortalNET/xml/portal.asmx" />
    <add key="Google.ReCaptcha.Secret" value="6LffnwETAAAAANatWthZ9TmYB8RBtG0cXZjQTzyP" />
    <add key="MostrarPaginasNoRegistradas" value="false" />
  </appSettings>-->
  <!--<appSettings>
    <add key="DefaultPortal" value="default" />
    <add key="UseXML" value="True" />
    <add key="XMLDatabase" value="/fsportalnet/sitios/default/data" />
    <add key="LogFile" value=".\FSTrace.log" />
    <add key="UrlRewrite" value="True" />
    <add key="Copyright" value="" />
    <add key="DebugFromEmail" value="info@febrersoftware.com" />
    <add key="DebugToEmail" value="juancarlos@febrersoftware.com" />
    <add key="DebugServer" value="mail.febrersoftware.com" />
    <add key="DebugUser" value="juancarlos@febrersoftware.com" />
    <add key="DebugPassword" value="haWBJehlEnTU2LpscWQhHw==" />
    <add key="PrefijoTablas" value="" />
    <add key="EnableHttpCompression" value="true" />
    <add key="NombreWeb" value="Default Web" />
    <add key="DescripcionWeb" value="Descripción de la web" />
    <add key="PalabrasClave" value="tiendas, comercio, pasarela de pago, bizkaia, comunidad, compras" />
    <add key="DirectorioPortal" value="/fsportalnet/" />
    <add key="Moneda" value="€" />
    <add key="Iva" value="21" />
    <add key="Encuesta" value="4" />
    <add key="RegistrosPorPagina" value="100" />
    <add key="DireccionFisica" value="Bº Marusas Nº 10 1ºA" />
    <add key="CodigoPostal" value="48610" />
    <add key="Provincia" value="Vizcaya" />
    <add key="CorreoInfo" value="info@febrersoftware.com" />
    <add key="ServidorCorreo" value="10.0.0.161" />
    <add key="CorreoUsuario" value="info@febrersoftware.com" />
    <add key="CorreoPassword" value="haWBJehlEnTU2LpscWQhHw==" />
    <add key="CorreoPuerto" value="587" />
    <add key="CorreoActivarSSL" value="True" />
    <add key="MultiCestas" value="False" />
    <add key="UploadPath" value="/fsportalnet/sitios/default" />
    <add key="ExplorerPath" value="/fsportalnet/sitios/default" />
    <add key="StrCookieName" value="DEFAULT" />
    <add key="Estado" value="0" />
    <add key="HtmlEditor" value="1" />
    <add key="ModoPrueba" value="False" />
    <add key="CorreoPrueba" value="juancarlos@febrersoftware.com" />
    <add key="CorreoCopia" value="" />
    <add key="Idioma" value="castellano" />
    <add key="PayPalURL" value="" />
    <add key="PayPalEmail" value="" />
    <add key="CuentaPago" value="" />
    <add key="PayPalNotifyURL" value="" />
    <add key="CodigoTienda4B" value="" />
    <add key="Url4B" value="" />
    <add key="BbvaURL" value="" />
    <add key="BbvaComercio" value="" />
    <add key="BbvaTerminal" value="" />
    <add key="BbvaPalClave" value="" />
    <add key="BbvaClaveXOR" value="" />
    <add key="LaCaixaNroComercio" value="" />
    <add key="LaCaixaClaveEnc" value="" />
    <add key="LaCaixaTerminal" value="0" />
    <add key="LaCaixaURLTpvVirtual" value="" />
    <add key="TiposImagenes" value=".jpg;.gif;.bmp;.png" />
    <add key="MaxTamImagen" value="50" />
    <add key="TallasYColores" value="False" />
    <add key="Disponibilidad" value="True" />
    <add key="AltoPopUp" value="0" />
    <add key="AnchoPopUp" value="0" />
    <add key="Version" value="2.9" />
    <add key="CorreoBienvenida" value="252" />
    <add key="PaginaRegistro" value="paginas/registrate.aspx" />
    <add key="PaginaLogin" value="paginas/conectar.aspx" />
    <add key="PaginaPerfil" value="paginas/perfil.aspx" />
    <add key="PaginaRecordar" value="paginas/recordar.aspx" />
    <add key="Estadisticas" value="False" />
    <add key="JqueryTema" value="base" />
    <add key="PlantillaCorreo" value="CORREO" />
    <add key="PlantillaModulos" value="MODULO" />
    <add key="FS.Portal" value="http://localhost/FSPortalNET/xml/portal.asmx" />
    <add key="Google.ReCaptcha.Secret" value="6LffnwETAAAAANatWthZ9TmYB8RBtG0cXZjQTzyP" />
    <add key="MostrarPaginasNoRegistradas" value="false" />
    <add key="vs:EnableBrowserLink" value="true" />
  </appSettings>-->
  <!--<appSettings>
  <add key="DefaultPortal" value="easytruck" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="UseXML" value="True"/>
  <add key="XMLDatabase" value="/fsportalnet/sitios/easytruck/data"/>
  <add key="LogFile" value=".\FSTrace.log" />
  <add key="UrlRewrite" value="True" />
  <add key="Copyright" value="" />
  <add key="DebugFromEmail" value="juancarlos@febrersoftware.com" />
  <add key="DebugToEmail" value="juancarlos@febrersoftware.com" />
  <add key="DebugServer" value="mail.febrersoftware.com" />
  <add key="DebugUser" value="juancarlos@febrersoftware.com" />
  <add key="DebugPassword" value="haWBJehlEnTU2LpscWQhHw==" />
  <add key="HtmlEditor" value="1" />
  <add key="PrefijoTablas" value="" />
  <add key="EnableHttpCompression" value="true" />
  <add key="DateFormat" value="ddmmyyyy" />
  <add key="NombreWeb" value="Easytruck" />
  <add key="DescripcionWeb" value="EasyTruck" />
  <add key="PalabrasClave" value="transportes, contenedores" />
  <add key="DirectorioPortal" value="/fsportalnet/" />
  <add key="Moneda" value="€" />
  <add key="Iva" value="21" />
  <add key="Encuesta" value="5" />
  <add key="RegistrosPorPagina" value="100" />
  <add key="DireccionFisica" value="Dirección EASY-TRUCK" />
  <add key="CodigoPostal" value="48508" />
  <add key="Provincia" value="Vizcaya" />
  <add key="CorreoInfo" value="info@febrersoftware.com" />
  <add key="ServidorCorreo" value="smtp.gmail.com" />
  <add key="CorreoUsuario" value="xxxx" />
  <add key="CorreoPassword" value="xxxx" />
  <add key="CorreoPuerto" value="587" />
  <add key="CorreoActivarSSL" value="True" />
  <add key="MultiCestas" value="False" />
  <add key="UploadPath" value="/fsportalnet/sitios/easytruck" />
  <add key="ExplorerPath" value="/fsportalnet/sitios/easytruck" />
  <add key="StrCookieName" value="EASYTRUCK" />
  <add key="Estado" value="0" />
  <add key="ModoPrueba" value="False" />
  <add key="CorreoPrueba" value="juancarlos@febrersoftware.com" />
  <add key="CorreoCopia" value="" />
  <add key="Idioma" value="castellano" />
  <add key="PayPalURL" value="" />
  <add key="PayPalEmail" value="" />
  <add key="CuentaPago" value="" />
  <add key="PayPalNotifyURL" value="" />
  <add key="CodigoTienda4B" value="" />
  <add key="Url4B" value="" />
  <add key="BbvaURL" value="" />
  <add key="BbvaComercio" value="" />
  <add key="BbvaTerminal" value="" />
  <add key="BbvaPalClave" value="" />
  <add key="BbvaClaveXOR" value="" />
  <add key="LaCaixaNroComercio" value="" />
  <add key="LaCaixaClaveEnc" value="" />
  <add key="LaCaixaTerminal" value="0" />
  <add key="LaCaixaURLTpvVirtual" value="" />
  <add key="TiposImagenes" value=".jpg;.gif;.bmp;.png" />
  <add key="MaxTamImagen" value="50" />
  <add key="TallasYColores" value="False" />
  <add key="Disponibilidad" value="True" />
  <add key="AltoPopUp" value="0" />
  <add key="AnchoPopUp" value="0" />
  <add key="Version" value="2.9" />
  <add key="CorreoBienvenida" value="252" />
  <add key="PaginaRegistro" value="pagina.aspx?id=295" />
  <add key="PaginaLogin" value="pagina.aspx?id=294" />
  <add key="PaginaPerfil" value="pagina.aspx?id=296" />
  <add key="PaginaRecordar" value="pagina.aspx?id=297" />
  <add key="Estadisticas" value="False" />
  <add key="JqueryTema" value="base" />
  <add key="PlantillaCorreo" value="CORREO" />
  <add key="PlantillaModulos" value="MODULO" />
  <add key="FS.Portal" value="http://localhost/FSPortalNET/xml/portal.asmx" />
  <add key="Google.ReCaptcha.Secret" value="6LffnwETAAAAANatWthZ9TmYB8RBtG0cXZjQTzyP" />
  <add key="MostrarPaginasNoRegistradas" value="false" />
 </appSettings>-->
  <!--<plugin type="FSLigaDeiaPlugin.ModLigaDeia, FSLigaDeiaPlugin" />-->
  <plugins>
    <plugin type="FSCustomPlugin.ModBanner, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModBannerHorizontal, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModBannerVertical, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModTienda, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModTemas, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModExpertos, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModFavoritos, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModFabricantes, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModCategorias, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModCorreo, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModFrases, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModPublicidad, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModChat, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModComentarios, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModRSS, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModInmobiliaria, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModRadio, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModTareas, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModMasVendidos, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModMasVendidosFoto, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModCalendario, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModProximosEventos, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModEventosRecientes, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModProximosEventosDeportivos, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModEventosDeportivosRecientes, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModEncuesta, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModTitulares, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModTablonAnuncios, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModNoticias, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModOfertasTrabajo, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModTopDescargas, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModUltimasDescargas, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModFicherosRecomendados, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModCategoriasFicheros, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModGaleria, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModFileManager, FSCustomPlugin"/>
    <plugin type="FSCustomPlugin.ModTwitter, FSCustomPlugin"/>
  </plugins>
  <urlrewrites>
    <!--<rule>
        <url>(.*)\.aspx</url>
        <rewrite>/fsportalnet/muestra.aspx?pag=$1</rewrite>
      </rule>
      <rule>
        <url>/fsportalnet/show\.asp</url>
        <rewrite>/fsportalnet/show.aspx</rewrite>
      </rule>
      <rule>
        <url>wohs\.asp</url>
        <rewrite>/fsportalnet/show.aspx</rewrite>
      </rule>
      <rule>
        <url>show(.*)\.asp</url>
        <rewrite>/fsportalnet/show.aspx?$1</rewrite>
      </rule>
      <rule>
        <url>(.*)show\.html</url>
        <rewrite>/fsportalnet/show.aspx?id=$1&amp;cat=2</rewrite>
      </rule>
      <rule>
        <url>s/h/o/w/(.*)\.html</url>
        <rewrite>/fsportalnet/show.aspx?id=$1</rewrite>
      </rule>-->
    <rule>
      <url>contacto/(.*)\.aspx</url>
      <rewrite>/contactos/verContacto.aspx?nombre=$1</rewrite>
    </rule>
    <rule>
      <url>id_(.*)\.aspx</url>
      <rewrite>/contactos/verContacto.aspx?nombre=$1</rewrite>
    </rule>
    <rule>
      <url>clubs/(.*)\.aspx</url>
      <rewrite>/contactos/verClub.aspx?nombre=$1</rewrite>
    </rule>
    <rule>
      <url>clubs/(.*)</url>
      <rewrite>/contactos/verClub.aspx?nombre=$1</rewrite>
    </rule>
    <rule>
      <url>c_(.*)\.aspx</url>
      <rewrite>/contactos/verClub.aspx?nombre=$1</rewrite>
    </rule>
    <rule>
      <url>page(.*)\.aspx</url>
      <rewrite>pagina.aspx?id=$1</rewrite>
    </rule>
    <rule>
      <url>p_(.*)\.aspx</url>
      <rewrite>pagina.aspx?p=$1</rewrite>
    </rule>
    <rule>
      <url>paginas/(.*)\.aspx</url>
      <rewrite>pagina.aspx?p=$1</rewrite>
    </rule>
    <rule>
      <url>portal/(.*)\.aspx</url>
      <rewrite>/default.aspx?portal=$1</rewrite>
    </rule>
  </urlrewrites>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <pages enableSessionState="true"/>
    <globalization uiCulture="es" culture="es-ES"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <trace enabled="false" localOnly="true" pageOutput="false"/>
    <compilation debug="true" strict="true" explicit="true" targetFramework="4.7.2"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="errorPages/error.aspx"/>
    <httpModules>
      <!--<add name="FluorineGateway" type="com.TheSilentGroup.Fluorine.FluorineGateway, com.TheSilentGroup.Fluorine" />-->
      <add name="HttpCompressionModule" type="FSPortal.HttpCompressionModule"/>
      <!--<add name="HtmlUrlRewriter" type="FSPortal.HtmlUrlRewriter"/>-->
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <!--eliminamos modules que no necesitamos -->
      <remove name="PassportAuthentication"/>
      <remove name="Profile"/>
      <remove name="AnonymousIdentification"/>
    </httpModules>
    <httpRuntime executionTimeout="90" maxRequestLength="8192" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- Esta regla de UrlRewrite (modulo instalado en IIS), redirige todo el tráfico de http a https (OJO!! cuando no esta HTTPS habilido, no da ningún error y no muestra la página correctamente.) -->
    <!--<rewrite>
            <rules>
                <rule name="HTTP_HTTP" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>-->
    <!--<modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>-->
  </system.webServer>
  <system.diagnostics>
    <!--<trace autoflush="true" indentsize="4">
      <listeners>
        <add name="FSListener" type="System.Diagnostics.TextWriterTraceListener" initializeData=".\FSTrace.log" />
        <remove name="Default" />
      </listeners>
    </trace>-->
    <switches>
      <!--0- desactivado, 1- error, 2- warning, 3- info, 4- verbose -->
      <add name="LogLevel" value="3"/>
    </switches>
  </system.diagnostics>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.105.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>